<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Company</th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.title %></td>
    <td>
      <% if person.company %>
        <%= link_to person.company.name, company_url(person.company) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate @people %>
