<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
    Locations
  </a>
</div>
<div id="collapseFour" class="accordion-body collapse">
  <div class="accordion-inner">
    <%= render partial: 'filter_search', locals: { filterable_type: 'Location' } %>
  </div>
</div>