<div class="accordion-heading">
  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
    Locations
  </a>
</div>
<div id="collapseFour" class="accordion-body collapse">
  <div class="accordion-inner">
    <%= form_tag '/search', class: 'form-inline' do %>
      <%= text_field_tag :search, nil, placeholder: 'Enter location', class: 'span2', id: 'locations', autocomplete: 'off' %>
      <%= submit_tag '+' %>
    <% end %>
  </div>
</div>