<h1>See <%= pluralize(@results.length, 'result') %> for <%= @search_term %></h1>
<ul>
<% @results.each do |result| %>
  <li><%= result.searchable_type %>: <%= link_to result.content, '' %></li>
<% end %>
</ul>