<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
  </tr>

<% @companies.each do |company| %>
  <tr>
    <td><%= link_to company.name, company %></td>
    <td><%= company.url %></td>
  </tr>
<% end %>
</table>

<%= paginate @companies %>
