/*@import "bootstrap";
@import "home";
@import "dashboard";
@import "fullcalendar";
@import "lists";
@import "jquery.ui.all";
@import "select2";*/
@import 'bootstrap-responsive';
@import 'bootstrap';
@import 'style';
@import 'style-responsive';

#content {
	min-height: 669px;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}