.dashboard-results {
	margin: 0 0 0 20px;
}

.accordion-inner {
	height: 300px;
	overflow-y: scroll;
}

.fc-widget-content {
	div {
/*		min-height: 200px !important;*/
	}
}

.attending_companies {
	width: 85px;
	text-align: center;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}