.dropdown-menu {
	padding: 10px;
}

.nav-signed-out, .nav-signed-in {
	li {
		float: left;
		display: block;
		padding: 5px;
	}
}

.logo {
	float: left;
}

.header-nav {
	float: right;
}

.header {
	margin: 10px 0 50px 0;
}

.footer {
	text-align: center;
	margin: 50px 0 0 0;
}

.home-search {
	text-align: center;
	h1 {
		font-size: 75px;
		line-height: 100px;
		margin: 50px 0 !important;
	}
}

